[submodule "Mathon"]
	path = Mathon
	url = https://github.com/bit-creator/Mathon.git
[submodule "mesa"]
	path = mesa
	url = https://gitlab.freedesktop.org/mesa/mesa.git
[submodule "assimp"]
	path = assimp
	url = https://github.com/assimp/assimp.git
